#form {
  margin-bottom: 0;
}

#search {
  height: 20px;
  width: 500px;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 12px;
  background-color: rgba(235, 240, 219, 0.9);
  border-style: none;
}

#search::placeholder {
  color: black;
  font-size: 12px;
}