.links-tab {
  position: absolute;
}

.tab-title {
  background: rgb(255,255,255);
  background: linear-gradient(46deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 85%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 86%, rgba(0,0,0,0) 86%, rgba(0,0,0,0) 100%);
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: black;
  border-left-style: solid;
  border-left-width: 1px;
  color: black;
  cursor: pointer;
  font-family: monospace;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  padding-left: 10px;
  position: absolute;
  text-align: left;
  top: -14px;
  user-select: none;
}

.links-list {
  background-color: #ffffff;
  border-left-color: black;
  border-left-style: solid;
  border-left-width: 1px;
  margin: 0;
  z-index: 1;
}

.unselected-tab {
  border-bottom-color: black;
  top: -15px;
}