.media-container {
  display: flex;
  height: 300px;
  justify-content: center;
  margin-left: 5px;
  overflow: hidden;
  width: 140px;
}

.woosh {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  width: 140px;
}

.jennie {
  max-height: 300px;
}