.media-container {
  height: 300px;
  margin-left: 5px;
  width: 140px;
}

.woosh {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  width: 140px;
}